openapi: "3.0.2"
info:
  title: Visit Scheduler Service
  version: "1.0"
servers:
  - url: https://visit-scheduler.gov.uk/v1
    variables:
      environment:
        default: test # Test
        enum:
          - dev       #Development
          - test      #Test
          - preprod   #Pre-production
          - Prod      #Production
paths:
  /bookable-visit-sessions-by-prison/{prisonId}:
    get:
      security:
        - bearerAuth: []
      summary: Returns visit sessions for the specified prison which are within the bookable time period - whether or not they are full
      tags:
        - visit-sessions
      operationId: getBookableSessionsByPrison
      parameters:
        - name: prisonId
          in: path
          description: NOMIS Prison Identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VisitSession'
        404:
          description: Prison not found
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NonSuccessResponse'
        401:
          description: Authentication required.
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NonSuccessResponse'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NonSuccessResponse'
  /visits/{visitId}:
    get:
      security:
        - bearerAuth: [ ]
      summary: Retrieve details of a visit
      tags:
        - visits
      operationId: getVisits
      parameters:
        - name: visitId
          in: path
          description: Identifier for this visit
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Visit'
        404:
          description: Visit identifier not found
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NonSuccessResponse'
        401:
          description: Authentication required.
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NonSuccessResponse'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NonSuccessResponse'
    put:
      security:
        - bearerAuth: []
      summary: Revise an existing visit
      tags:
        - visits
      operationId: reviseVisit
      parameters:
        - name: visitId
          in: path
          description: identidier for this visit
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Visit'
        400:
          description: Request incorrectly formed.
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NonSuccessResponse'
        401:
          description: Authentication required.
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NonSuccessResponse'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NonSuccessResponse'
        404:
          description: Visit identifier not found
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NonSuccessResponse'
  /visits:
    post:
      security:
        - bearerAuth: [ ]
      summary: Create a new visit
      tags:
        - visits
      operationId: createVisit
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Visit'
        400:
          description: Request incorrectly formed.
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NonSuccessResponse'
        401:
          description: Authentication required.
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NonSuccessResponse'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NonSuccessResponse'
        404:
          description: Visit Identifier not found
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NonSuccessResponse'
  /visits-by-prisoner{prisonerId}:
    get:
      security:
        - bearerAuth: [ ]
      summary: Retrieve the set of visits for a prisoner.
      tags:
        - visits
      operationId: getVisitsByPrisoner
      parameters:
        - name: prisonerId
          in: path
          description: NOMIS Prisoner Reference
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Visit'
        404:
          description: prisoner identifier not found
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NonSuccessResponse'
        401:
          description: Authentication required.
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NonSuccessResponse'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NonSuccessResponse'
  /visits-by-contact/{nomisContactId}:
    get:
      security:
        - bearerAuth: [ ]
      summary: Retrieve the set of visits for a contact
      tags:
        - visits
      operationId: getVisitsByNomisContact
      parameters:
        - name: nomisContactId
          in: path
          description: NOMIS Contact Identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Visit'
        404:
          description: NOMIS Contact identifier not found
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NonSuccessResponse'
        401:
          description: Authentication required.
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NonSuccessResponse'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NonSuccessResponse'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    NonSuccessResponse:
      type: object
      properties:
        applicationErrorCode:
          type: string
        applicationErrorDescription:
          type: string
    VisitSession:
      type: object
      properties:
        sessionId:
          type: string
          description: The unique identifier for this session
        prison:
          $ref: '#/components/schemas/Prison'
        visitRoomName:
          type: string
          description: The Name of the visit room in which this visit session takes place
        visitType:
          type: string
          description: The type of visits taking place within this session
        openVisitCapacity:
          type: integer
          description: The number of concurrent visits which may take place within this session
        openVisitsAvailableCount:
          type: integer
          description: The count of open visit slots still available for this session
        closedVisitCapacity:
          type: integer
          description: The number of closed visits which may take place within this session
        closedVisitAvailableCount:
          type: integer
          description: The count of closed visit slots still available for this session
        startTimestamp:
          type: string
          format: date-time
          description: The start timestamp for this visit session
        endTimestamp:
          type: string
          format: date-time
          description: The end timestamp for this visit session
    Visit:
      type: object
      properties:
        visitId:
          type: string
          description: Publicised identifier for this visit
        prisonId:
          type: string
          description: The NOMIS identifier for the prison for this visit
        visitType:
          $ref: '#/components/schemas/VisitType'
        prisonerId:
          type: string
          description: Prisoner identifier for the prisoner being visited
        visitRoom:
          type: string
          description: The visit room where this visit is taking place
        startTimestamp:
          type: string
          format: date-time
          description: Start time and date for the visit
        endTimestamp:
          type: string
          format: date-time
          description: End time and date for the visit
        leadVisitor:
          type: object
        additionalVisitors:
          description: Set of Additional Visitors
          type: array
          items:
            type: object
        reasonableAdjustments:
          type: string
          description: Text notes for reasonable adjustments for this visit
        currentStatus:
          $ref: '#/components/schemas/VisitStatus'
        lastRevisedTimestamp:
          type: string
          description: Timestamp this visit was last revised
          format: date-time
    VisitStatus:
      type: string
      nullable: false
      enum:
        - Reserved
        - Confirmed
        - Cancelled by Prisoner
        - Cancelled by Visitor
        - Cancelled by Prison
        - Attended
    VisitType:
      type: string
      nullable: false
      enum:
        - Social
        - Family
        - Official
        - Legal
    Contact:
      type: object
      description: A description
      properties:
        nomisContactId:
          type: string
          description: Unique Identifier for this contact (from NOMIS)
        firstName:
          type: string
          description: Contact first name
        middleName:
          type: string
          description: Contact middle name
        lastName:
          type: string
          description: Contact last name
        dateOfBirth:
          type: string
          description: Contact date of birth
          format: date
        postcode:
          type: string
          description: Postcode of the visitor's address
        relationshiptoPrisoner:
          type: string
          description: Relationship to Prisoner
        visitorType:
          type: string
          description: Type of Visitor
    Prisoner:
      type: object
      description: A description
      properties:
        prisonerId:
          type: string
          description: Unique identifier for this prisoner (from NOMIS)
        firstName:
          type: string
          description: Prisoner first name
        middleName:
          type: string
          description: Prisoner middle name
        lastName:
          type: string
          description: Prisoner last name
        dateOfBirth:
          type: string
          description: prisoner date of birth
    Prison:
      type: object
      description: Prison Description
      properties:
        prisonId:
          type: string
          description: Unique identifier for this prison
        prisonName:
          type: string
          description: Prison Name