---
# Per environment values which override defaults in visit-scheduler/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: visit-scheduler-preprod.prison.service.justice.gov.uk
    contextColour: green
    v1_2_enabled: true
    v0_47_enabled: false

  env:
    HMPPS_AUTH_URL: https://sign-in-preprod.hmpps.service.justice.gov.uk/auth
    PRISON_API_URL: https://api-preprod.prison.service.justice.gov.uk
    NON_ASSOCIATIONS_API_URL: https://non-associations-api-preprod.hmpps.service.justice.gov.uk
    PRISONER_OFFENDER_SEARCH_URL: https://prisoner-search-preprod.prison.service.justice.gov.uk
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.dev.json
    FEATURE_EVENTS_SNS_ENABLED: true
    MIGRATE_SESSIONTEMPLATE_MAPPING_OFFSET_DAYS: 0

# CloudPlatform AlertManager receiver to route promethues alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: digital-prison-service-dev
